appdirs
appnope
automat
awscli
botocore
cached-property
chardet
cloud-init
colorama
command-not-found
configobj
constantly
dbus-python
devscripts
distro
distro-info
django-bootstrap5
django-crispy-forms
django-extensions
django-filter
django-heroku
django-taggit
djangorestframework
docker
docker-compose
dockerpty
docopt
docutils
gpg
gunicorn
hyperlink
incremental
invoke
jmespath
jsonpatch
jsonpointer
language-selector
launchpadlib
lockfile
markdown
more-itertools
netifaces
olefile
openpyxl
pip-chill
pipenv
poetry
pyasn1
pyasn1-modules
pygobject
pyhamcrest
pymacaroons
pynacl
pyopenssl
pyserial
python-apt
python-debian
python-magic
pyxdg
pyyaml
requests-unixsocket
roman
rsa
s3transfer
service-identity
simplejson
social-auth-app-django
sos
ssh-import-id
streamlit
systemd-python
texttable
twisted
ubuntu-advantage-tools
ufw
unattended-upgrades
unidiff
websocket-client
zope.interface
